nav {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 5px;
}

.r {
  text-decoration: none;
  color: white;
  float: right;
  padding-right: 25px;
  font-size: 20px;
  list-style: none;
  padding-top: 5px;
}

.r:hover {
  text-decoration: none;
  color: lightgrey;
}

Link {
  color: aliceblue;
}